@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var content = (ContentModels.Block4)Model.Content;
    var counter = 0;
    var searchQuery = Request.QueryString["q"];
	IEnumerable<PublishedSearchResult> searchResults;
	var language = content.Value("lang");
	var placeholder = "";
	var placeholdertext = "";
	
	if (Convert.ToString(language)=="EN")
    {
        placeholder = "Search";
        placeholdertext = "Search...";
    }
    else if (Convert.ToString(language) =="PT") 
    {
        placeholder = "Procurar";
        placeholdertext = "Procurar...";
    }
    else
    {
    }


}
<style type="text/css">
.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
</style>

<div class="container">
    <div class="search">
    <form action="" method="GET">
        <input type="text" placeholder=@placeholdertext name="q">
        <button>@placeholder</button>
    </form>
    </div>
</div>
    
@if (!string.IsNullOrWhiteSpace(searchQuery))
{

        var results = Umbraco.ContentQuery.Search(searchQuery, string.Empty, "InternalIndex")
	                       @* .Where(w => w.Content.IsDocumentType("blockListDocumentType"))*@;

    long resultCount = results != null && results.Any() ? results.Count() : 0;
    <div class="searchresults center">
        
    @if (Convert.ToString(language)=="EN")
    {
        <p>We found <strong>@resultCount</strong> result@(resultCount != 1 ? "s" : "") when searching for <strong>@searchQuery</strong></p>
    }
    else if (Convert.ToString(language) =="PT") 
    {
        <p>Foram encontrados <strong>@resultCount</strong> resultado@(resultCount != 1 ? "s" : "") ao procurar por <strong>@searchQuery</strong></p>
    }
    else
    {
    }

        
        @if (resultCount > 0)
        {
            <ul>
                @foreach (var result in results)
                {
                    
                    <li>
                        <h3><a href="@result.Content.Url">@result.Content.Name</a></h3>
                    </li>
                }
            </ul>
        }
    </div>
}