@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}
@{
    var content = (ContentModels.Block3)Model.Content;
    
    <h1>@content.Value("Text")</h1>
    
    @content
    
     foreach (var product in @content)
                {
                <p>@product</p>
                }
   
   @*
    
    if (Model.ProductsTreePicker != null)
            {
                foreach (Product product in Model.ProductsTreePicker)
                {
                <p>@product.ProductName</p>  
                <p>@Model.DefaultCurrency @product.Price.ToString("F")</p> 
                }
            }
    *@

}