@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var content = (ContentModels.Block4)Model.Content;
    var counter = 0;
    var searchQuery = Request.QueryString["q"];
	IEnumerable<PublishedSearchResult> searchResults;
    

}
<style type="text/css">
.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

@{
var language = content.Value("lang");
    
    if(language == "EN")
    {
        var place = "Search";
    }
}
    
</style>
<body>
<div class="container">
    <div class="search">
    <div style="background-color:red">@place</div>    
    <form action="" method="GET">
        <input type="text" placeholder="" name="q">
        <button>place</button>
    </form>
    </div>
</div>
</body>
    
@if (!string.IsNullOrWhiteSpace(searchQuery))
{

        var results = Umbraco.ContentQuery.Search(searchQuery, string.Empty, "InternalIndex")
	                       @* .Where(w => w.Content.IsDocumentType("blockListDocumentType"))*@;

    long resultCount = results != null && results.Any() ? results.Count() : 0;
    <div class="searchresults">
        <p>We found <strong>@resultCount</strong> result@(resultCount != 1 ? "s" : "") when searching for <strong>@searchQuery</strong></p>
        @if (resultCount > 0)
        {
            <ul>
                @foreach (var result in results)
                {
                    
                    <li>
                        <h3><a href="@result.Content.Url">@result.Content.Name</a></h3>
                    </li>
                }
            </ul>
        }
    </div>
}