@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@{
    var maxLevel = 3;
    var siteSection = Model.AncestorOrSelf(2);
    var selection = siteSection.Children.Where(x => x.IsVisible() && x.Level <= maxLevel);

    if(selection.Any()) {
        <ul>
            @foreach (var item in selection) {
                @link(item, maxLevel)
            }
        </ul>
    }
}

@helper link(IPublishedContent item, Integer level) {
    var children = item.Children.Where(x => x.IsVisible() && x.Level <= level);
    <li>
        <a class="nav-link nav-link--black nav-link--air-bottom @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
        @if(children.Any()) {
            <ul>
                @foreach (var item in children) {
                    @link(item, level)
                }
            </ul>
        }
    </li>
 }