@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@{
    var site = Model.AncestorOrSelf<Home>();
    var navItems = site.Children.Where(x => x.IsVisible());
}


 @if (navItems != null && navItems.Any())
                {
                    foreach (var item in navItems)
                    {
                        var itemChildren = item.Children.Where(x => x.IsVisible());
                        bool hasChildren = itemChildren != null && itemChildren.Any();

                        if (hasChildren && item.ContentType.Alias == "contentPage")
                        {
                        
                            <li class="nav-link">
                                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@item.Name</a>
                                <div class="dropdown-menu">
                                    @foreach (var child in itemChildren)
                                    {
                                        <a class="dropdown-item" href="@child.Url">@child.Name</a>
                                    }
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@item.Url">@item.Name</a>
                            </li>
                        }
                    }
                }
